NEXT_PUBLIC_CLOUDINARY_ID=diwzdkx8n
NEXT_PUBLIC_URL=http://localhost:3000
NEXT_PUBLIC_SUPABASE_URL=https://trheapfzrrzfyrrqpjnh.supabase.co
NEXT_PUBLIC_SUPABASE_CLIENT_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRyaGVhcGZ6cnJ6ZnlycnFwam5oIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDI4NDc2ODQsImV4cCI6MjAxODQyMzY4NH0.FZZd5Wy_alst5VQG1h_kyIZYiTGA45T3AseKgyUH8tw
SUPABASE_SERVICE_KEY=YOUR_SUPAeyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRyaGVhcGZ6cnJ6ZnlycnFwam5oIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTcwMjg0NzY4NCwiZXhwIjoyMDE4NDIzNjg0fQ.-MKJmdkS-cI2yqADQWuE5W2jrg3Y9TWDBu-6DuTznNkBASE_SERVICE_KEY